<div class="row">
    <div class="col text-white d-grid justify-content-center">
        <h2>Take care of your pets</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col">
            <figure class="text-center">
                <blockquote class="blockquote">
                  <p class="text-white">Gratitude is a "disease" of animals that is not transmissible to humans</p>
                </blockquote>
                <figcaption class="blockquote-footer" style="color: orange;">
                  <cite title="Source Title">Antoine Bernheim.</cite>
                </figcaption>
              </figure>
        </div>
    </div>
    <div class="row">
        <div class="col d-grid justify-content-center">
            <img src="./../../../../assets/img/beah.png" alt="dog">
        </div>
    </div>    
</div>
