<div class="background">
  <app-navbar></app-navbar>

<div class="container-fluid">
  <div class="animate__animated animate__fadeIn container" id="main">
    <div routerLink="/jaeger-pets/login" id='up-btn' class="d-flex justify-content-center align-items-center">
      <i class="fa-solid fa-house-user"></i>
    </div>

    <!-- <div class="btn-container d-flex justify-content-center">
      <div class="myButton d-flex justify-content-center align-items-center">Sebas</div>
      <div class="myButton d-flex justify-content-center align-items-center">Lauringols</div>
      <div class="myButton d-flex justify-content-center align-items-center">God</div>
    </div> -->
    <div id="home">
      <app-header></app-header>
    </div>

    <div id="what-we-do">
      <app-we-do></app-we-do>
    </div>

    <div id="team" class="d-flex justify-content-center mt-5">
      <app-team-cards id="cards"></app-team-cards>
    </div>

    <div id="take-care">
      <app-take-care></app-take-care>
    </div>    
</div>
</div>

<app-footer></app-footer>
</div>


