<div class="row" id="header">
  <div id="header2"
    class="col-md-6 d-flex justify-content-center align-items-center flex-column"
  >
    <h1 style="font-family: 'Fredoka One', cursive !important;">Your Pet's Life and Health in just one place</h1>
    <h4 class="mt-3">
      For restless tails of happiness, join us and take care of your furry
      friend.
    </h4>
    <button routerLink="/jaeger-pets/login"
          routerLinkActive="active" class="myButton btn">Enjoy Us</button>
  </div>

  <div
    class="col-md-6 d-flex justify-content-center align-items-center"
  >
        <img id='dog' src="./../../../../assets/img/header-dog.svg" alt="">
    </div>
</div>