<div class="row text-center text-white">
    <div class="col">
        <h2>What We Do</h2>
        <hr>
    </div>
</div>
<div class="row mt-5 text-center">
        <div class="col-lg-3 col-md-6 col-sm-12 d-grid justify-content-center">

            <div class="myCard m-2">
                <div class="row m-1">
                    <div class="col-12 mt-3">
                        <img src="./../../../../assets/img/vet/3.png" alt="">
                    </div>
                    <div class="col-12">
                        <h5 class="fw-bold mt-3" style="font-family: 'Fredoka One', cursive; color: #E15FED">Vet service</h5>
                        <p style="font-weight: 500;font-size: 20px; text-align: justify;color: #332FD0;">Allied clinics that will treat your pet as it deserves, we have home service.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-grid justify-content-center">

            <div class="myCard m-2">
                <div class="row m-1">
                    <div class="col-12 mt-3">
                        <img src="./../../../../assets/img/vet/12.png" alt="">
                    </div>
                    <div class="col-12">
                        <h5 class="fw-bold mt-3" style="font-family: 'Fredoka One', cursive; color: #E15FED">Pet Spa</h5>
                        <p style="font-weight: 500;font-size: 20px; text-align: justify-center;color: #332FD0;">Bubble bath, haircut and nails for your spoiled.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-grid justify-content-center">

            <div class="myCard m-2">
                <div class="row m-1">
                    <div class="col-12 mt-3">
                        <img src="./../../../../assets/img/vet/1.png" alt="">
                    </div>
                    <div class="col-12">
                        <h5 class="fw-bold mt-3" style="font-family: 'Fredoka One', cursive; color: #E15FED">Supplies</h5>
                        <p style="font-weight: 500;font-size: 20px; text-align: justify-center;color: #332FD0;">All kinds of food, accessories, hygiene, medicines and snacks.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-grid justify-content-center">
            <div class="myCard m-2">

                <div class="row m-1">
                    <div class="col-12 mt-3">
                        <img src="./../../../../assets/img/vet/4.png" alt="">
                    </div>
                    <div class="col-12">
                        <h5 class="fw-bold mt-3" style="font-family: 'Fredoka One', cursive; color: #E15FED">Pet care and Training</h5>
                        <p style="font-weight: 500;font-size: 20px; text-align: justify;color: #332FD0;">Our allies will care for and train your pet if you don't have time.</p>
                    </div>
                </div>
            </div>

        </div>    
</div>
