<app-dashboard></app-dashboard>

<div class="user"><pre>{{ user | json}}</pre></div>
<div class="position">
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item bgl0 active">
            
                </div>
              <div class="carousel-item bgl">
            
              </div>
              <div class="carousel-item bglo">
                
              </div>
              <div class="carousel-item bglt">
            
              </div>
              <div class="carousel-item bglf">
            
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>
<div class="position-2">
    <div class="row">
      <p>categories</p>
      <div class="col"><img class="imgcircle" src="/assets/img/img-carrucel-home/97.png" alt="img-circle-1"></div>
      <div class="col"><img class="imgcircle" src="/assets/img/img-carrucel-home/95.png" alt="img-circle-1"></div>
      <div class="col"><img class="imgcircle" src="/assets/img/img-carrucel-home/94.png" alt="img-circle-1"></div>
      <div class="col"><img class="imgcircle" src="/assets/img/img-carrucel-home/96.png" alt="img-circle-4"></div>
    </div>
   <button class="btn mt-5" routerLink="/dashboard/add-service">check services</button>
    <div class="row cardm">
      <div class="container tittle"><p>find what you need to:</p></div>
      <div class="col">
      <div class="card">
      <div class="card-img"><img class="dogcard" src="/assets/img/img-carrucel-home/otro-animal.jpg" alt=""></div>
        <div class="card-info">
          <p class="text-title">others animals services</p>
            <p class="text-leters">press the button that will take you to the pet services</p>
            <button class="card-button">going go to</button>
        </div></div>
      </div>
      <div class="col">
        <div class="card">
        <div class="card-img"><img class="dogcard" src="/assets/img/img-carrucel-home/catcard.jpeg" alt=""></div>
          <div class="card-info">
            <p class="text-title">cats services</p>
            <p class="text-leters">press the button that will take you to the cat services</p>
            <button class="card-button">going go to</button>
          </div></div>
        </div>
        <div class="col">
          <div class="card">
          <div class="card-img"> <img class="dogcard" src="/assets/img/img-carrucel-home/yorichicard.jpeg" alt="img-1">
          </div>
            <div class="card-info">
              <p class="text-title">dog services</p>
              <p class="text-leters">press the button that will take you to the dog services</p>
              <button class="card-button">going go to</button>
            </div></div>
          </div>
    </div>
    

</div>
