
<app-dashboard></app-dashboard>
<div class="position">
    <div class="row">
        <div class="col">
            <div class="card-1">
                <div class="item item--1">
                  <img width="50px" height="50px" src="/assets/img/services/5.png" alt="">
                  <span class="quantity">pet</span>
                  <span class="text text--1"> friendly  </span>
                </div>
                <div class="item item--2">
                <img width="50px" height="50px" src="/assets/img/services/4.png" alt="">  <span class="quantity"> gifts </span>
                  <span class="text text--2"> benefits </span>
                </div>
                <div class="item item--3">
                  <img width="50px" height="50px" src="/assets/img/services/2.png" alt="">
                  <span class="quantity"> promo </span>
                  <span class="text text--3"> discounts </span>
                </div>
                <div class="item item--4">
                    <img width="50px" height="50px" src="/assets/img/services/3.png" alt="">
                  <span class="quantity"> fast </span>
                  <span class="text text--4"> delivery </span>
                </div>
              </div>
        </div>
        <div class="col mart">
            <div class="card work">
                <div class="img-section">
                    <img src="/assets/img/services/perrito.png" width="100px" height="100px" alt="">
                            </div>
                <div class="card-desc">
                <div class="card-header">
                <div class="card-title">vet services</div>
                <div class="card-menu">
                <div class="dot"></div>
                <div class="dot"></div>
                  <div class="dot"></div>
                  </div>
                </div>
                <div class="card-time">make a vet</div>
                <p class="recent">appointment</p>
              </div></div>
        </div>
        <div class="col mart">
            <div class="card work">
                <div class="img-section">
                    <img src="/assets/img/services/perrito.png" width="100px" height="100px" alt=""></div>
                <div class="card-desc">
                <div class="card-header">
                <div class="card-title">spa services</div>
                <div class="card-menu">
                <div class="dot"></div>
                <div class="dot"></div>
                  <div class="dot"></div>
                  </div>
                </div>
                <div class="card-time">make a spa</div>
                <p class="recent">appointment</p>
              </div></div>
        </div>
        <div class="col mart">
            <div class="card work">
                <div class="img-section">
                    <img src="/assets/img/services/perrito.png" width="100px" height="100px" alt="">          </div>
                <div class="card-desc">
                <div class="card-header">
                <div class="card-title">pet care</div>
                <div class="card-menu">
                <div class="dot"></div>
                <div class="dot"></div>
                  <div class="dot"></div>
                  </div>
                </div>
                <div class="card-time">request</div>
                <p class="recent">pet care</p>
              </div></div>
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-lg-3 col-md-6 col-sm-12 d-grid justify-content-center">
            <div class="card-3">
                <div class="card-image-1"></div>
                  <div class="card-description-3">
                    <p class="text-title-3">Vet</p>
                    <p class="text-body-3">Allied clinics that will treat your pet as it deserves, we have home service.</p>
                  </div>
                </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-grid justify-content-center">
            <div class="card-3">
                <div class="card-image-2"></div>
                  <div class="card-description-3">
                    <p class="text-title-3">spa</p>
                    <p class="text-body-3">In our spa your pet will relax in an unimaginable way and will be able.</p>
                  </div>
                </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-grid justify-content-center">
            <div class="card-3">
                <div class="card-image-3"></div>
                  <div class="card-description-3">
                    <p class="text-title-3">Supplies</p>
                    <p class="text-body-3">our products will make your pet feel all the love</p>
                  </div>
                </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-grid justify-content-center">
            <div class="card-3">
                <div class="card-image-4"></div>
                  <div class="card-description-3">
                    <p class="text-title-3"> pet care</p>
                    <p class="text-body-3">in our nursery and academy your pet for great moments.</p>
                  </div>
                </div>
        </div>
    </div>
</div>