<div class="background">
    <app-navbar></app-navbar>

<div class="container-fluid">
    <div class=" animate__animated animate__fadeIn">
        <div class="body"> 
        <div class="container">
            <h2>OPS!!! PAGE NOT FOUND</h2>
            <img class="img-fluid" src="./../../../../assets/img/404.png" alt="404">
        <p>the page you are looking for is not in use or has been redirected!!</p>
            <a routerLink="/auth/home">GO BACK HOME</a>
        </div>
    </div>
    </div>
</div>
</div>


