<footer id="contact" class="container-fluid">
  <div class="row pt-5 topd">
    <div class="col-lg-4 d-flex justify-content-center">
      <div class="icon">
        <svg heigth="80" width="80">
          <circle
            cx="40"
            cy="40"
            r="35"
            stroke="white"
            stroke-width="4"
            fill="none"
          ></circle>
        </svg>
        <i class="bx bxl-instagram"></i>
      </div>
      <div class="icon">
        <svg heigth="80" width="80">
          <circle
            cx="40"
            cy="40"
            r="35"
            stroke="white"
            stroke-width="4"
            fill="none"
          ></circle>
        </svg>
        <i class="bx bxl-facebook-circle"></i>
      </div>
      <div class="icon">
        <svg heigth="80" width="80">
          <circle
            cx="40"
            cy="40"
            r="35"
            stroke="white"
            stroke-width="4"
            fill="none"
          ></circle>
        </svg>
        <i class="bx bxl-whatsapp"></i>
      </div>
    </div>
    <div class="col-lg-4 text-center">
      <img
        src="./../../../../assets/img/logo-footer.svg"
        class="logo"
        alt="logo"
      />
    </div>
    <div class="col-lg-4 text-foot text-center">
      <h3 style="font-weight: bold;">Jaeger Pets</h3>
      <p style="font-weight: bold;">Calle 195 # 74 - 28</p>
      <p style="font-weight: bold;">(601) 874 5858 - 645 7812</p>
      <p style="font-weight: bold;">contacto@jaegerpets.com</p>
    </div>
  </div>
  <div class="row pt-1 topd" style="background-color: #E15FED">
    <div class="col text-white d-flex justify-content-center">
      <h6 id="copy" style="font-weight: bold;">&copy; 2022 Todos los derechos reservados - Designed by Fire Gods <img id="fire" src="./../../../../assets/img/vet/6.png" alt="fire"></h6>
    </div>
  </div>
</footer>
