<div class="row">
    <div class="col text-center text-white">
        <h2>Our Team</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6 card-container">
        <div class="box">
            <div class="imgBox">
                <img style="filter: grayscale();" src="./../../../../assets/img/profile.jpeg" alt="Sebas">
            </div>
            <div class="myCardContent">
                <h2>Juan Sebastian Amaya Serrano<br><span>Full Stack Developer</span></h2>
            </div>
        </div>
    </div>

    <div class="col-md-6 card-container">
        <div class="box">
            <div class="imgBox">
                <img style="filter: grayscale();" src="/assets/img/profile1.jpeg" alt="Eren">
            </div>
            <div class="myCardContent">
                <h2>Johan Andrés Ariza Betancourt<br><span>Full Stack Developer</span></h2>
            </div>
        </div>
    </div>
</div>
